<div class="container">
    <button *ngIf="!isFormOpened; else form" 
        (click)="openForm()" 
        class="form_submit form__opener" 
        mat-raised-button 
        color="primary">
        Начать игру
    </button>
    <ng-template #form>
        <div class="form-wrapper">
            <h3 class="form-title">Начать новую игру</h3>
            <form [formGroup]="newGameForm" class="form">
                <mat-form-field class="form__elem">
                    <mat-label>Слово из 4 букв</mat-label>
                    <input matInput type="text" formControlName="word" maxlength="4">
                </mat-form-field>
        
                <mat-checkbox class="form__elem" [color]="'primary'" formControlName="withFriend">Играть с другом</mat-checkbox>      
        
                <mat-form-field class="form__elem">
                    <mat-label>Имя или ID друга</mat-label>
                    <input matInput type="text" formControlName="friendName">
                </mat-form-field>
            </form>    
            <button class="form_submit" mat-raised-button color="primary">Начать</button>
        </div>
    </ng-template>

    <app-table *ngIf="waitingData" [data]="waitingData" title="Игры в очереди"></app-table>

    <app-table *ngIf="receivedInvitesData" [data]="receivedInvitesData" title="Полученные приглашения"></app-table>

    <app-table *ngIf="sentInvitesData" [data]="sentInvitesData" title="Отправленные приглашения"></app-table>
</div>
