<div class="container">
    <div class="message" 
         [ngClass]="{'your-container': message.authorId === authService.userId,
                     'friend-container': message.authorId !== authService.userId}">
        <div [ngStyle]="{'align-self': message.authorId === authService.userId ? 'flex-start' : 'flex-end'}"
             class="message__word">
            {{ message.word }}
        </div>
        <div [ngStyle]="{'align-self': message.authorId === authService.userId ? 'flex-start' : 'flex-end'}"
             class="message__date">
            {{ message.creationTime | date:'dd.MM.yy hh:mm' }}
        </div> 
    </div>
    <div *ngIf="message.authorId === authService.userId"
         class="result">
        {{ message.resultP }} п  |  {{ message.resultF }} ф
    </div>
</div>
