<div class="container">
    <div class="message" 
         [ngClass]="{'your-container': message.authorId === authService.id,
                     'friend-container': message.authorId !== authService.id}">
        <div [ngStyle]="{'align-self': message.authorId === authService.id ? 'flex-start' : 'flex-end'}"
             class="message__word">
            {{ message.word }}
        </div>
        <div [ngStyle]="{'align-self': message.authorId === authService.id ? 'flex-start' : 'flex-end'}"
             class="message__date">
            {{ message.creationTime | date:'dd.MM.yy HH:mm' }}
        </div> 
    </div>
    <div *ngIf="message.authorId === authService.id"
         class="result">
        {{ message.p }} п  |  {{ message.f }} ф
    </div>
</div>
