.modal-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    min-height: 150px;
    justify-content: space-around;
}

.modal-container_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}