<div class="page">
  <nav *ngIf="authService.id" class="page__navbar" mat-tab-nav-bar [backgroundColor]="'primary'" mat-align-tabs="center">
    <a mat-tab-link
      *ngFor="let tab of navlist"
      [routerLink]="tab.url"
      routerLinkActive 
      #rla="routerLinkActive"
      [active]="rla.isActive"
      class="tab">
      <mat-icon>{{ tab.icon }}</mat-icon>
      <div class="tab__title">
        {{ tab.title }}
      </div>   
    </a>
  </nav>

  <div class="page__content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-error></app-error>