.page {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.page__navbar {
    width: 100%;
}
.page__content {
    width: 50%;  
    min-width: var(--mobile-width);  
    height: max-content;
}
.tab__title {
    margin-left: 10px;
}

@media only screen and (max-width : 480px) {
    .tab__title {
        display: none;
    }
    .page__content {
        width: 100%;
    }
}

@media only screen and (max-width : 800px) and (min-width: 421px) {
    .page__content {
        width: 80%;
    }
    .tab__title {
        display: none;
    }
    .tab {
        min-width: 100px;
    }
}